<h1>DASHBOARD</h1>

<p>You have: <%=  %></p>
<p>Total # of transactions: <%= @balance %></p>
<p><a href="">See transactions</a> <%= %></p><!-- LINK TO HERE -->
<p><a href="">Create a new transaction</a> <%= %></p><!-- AND HERE -->
<!-- CREATE AN ALERT HERE -->
<p>You have spent <%= %> this month.</p>
<p>You spent <%= %> last month.</p>
